.single-video-card {
  position: relative;
  width: fit-content;
  top: 5rem;
  left: 20rem;
  width: 31.25rem;
  height: 18.75rem;
  color: var(--txt-white);
}
.vl-options {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
.single-video-tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.single-video-tag > p {
  padding-left: 8px;
}
.vl-tag {
  border: 1px solid var(--txt-white);
  border-radius: 1rem;
  width: fit-content;
  padding: 5px 12px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--txt-white);
  background-color: var(--navbar-bg);
  font-family: inherit;
}