@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
:root {
  --vl-primary-color: #1d2947;
  /* Navbar */
  --filter-icon-hover: #354477;
  --txt-white: white;
  --txt-black: black;
  --navbar-bg: #213061;
  /* Login */
  --guest-login-btn-hover: #dcdcf8;
  --login-btn-hover: #34457f;
}
.App,
body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background-color: var(--vl-primary-color);
  color: var(--txt-white);
}
.flex-center-row {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-wrap: wrap;
}

.border-1p {
  border: 1px solid var(--txt-white);
}
